In [42]:
import pandas as pd

tabela = pd.read_excel("tabela_alunos.xlsx")
display(tabela)

                                  Nome Atividade       Data      Hora
0        Maria Luiza Camargo Gonçalves    Entrou 2023-08-24  18:38:00
1              Izaura dos Santos Souza    Entrou 2023-08-24  18:38:00
2         William Lourenço de Oliveira    Entrou 2023-08-24  18:38:00
3          Fernando Marques dos Santos    Entrou 2023-08-24  18:38:00
4              Felipe de Souza Freitas    Entrou 2023-08-24  18:38:00
5              Felipe de Souza Freitas      Saiu 2023-08-24  19:59:00
6              Felipe de Souza Freitas    Entrou 2023-08-24  20:01:00
7                  Rayssa Barros Alves    Entrou 2023-08-24  18:38:00
8   Carolina Aparecida Henriques Prado    Entrou 2023-08-24  18:38:00
9          Cauan Menezes de Matos Luiz    Entrou 2023-08-24  18:38:00
10         Cauan Menezes de Matos Luiz      Saiu 2023-08-24  19:22:00
11         Cauan Menezes de Matos Luiz    Entrou 2023-08-24  19:22:00
12                 Hyago Martinez Rubo    Entrou 2023-08-24  18:38:00
13            Kaique Donizeti da Silva    Entrou 2023-08-24  18:38:00
14           Maria Elyza Andrade Silva    Entrou 2023-08-24  18:38:00
15           Maria Elyza Andrade Silva      Saiu 2023-08-24  20:16:00
16         Thiago Cauan de Lima Santos    Entrou 2023-08-24  18:38:00
17                Beatriz Lemos Soares    Entrou 2023-08-24  18:38:00

In [43]:
tabela.loc[tabela["Atividade"]=="Saiu"]

                           Nome Atividade       Data      Hora
5       Felipe de Souza Freitas      Saiu 2023-08-24  19:59:00
10  Cauan Menezes de Matos Luiz      Saiu 2023-08-24  19:22:00
15    Maria Elyza Andrade Silva      Saiu 2023-08-24  20:16:00